.container{
    padding: 4%;
    font-family: 'Roboto';
    font-style: normal;
}
.heading{
    font-weight: 400;
    color: #5F5F5F;
    font-size: 170%;
    padding: 0;
    margin: 0;
}
.student{
    color: #0B6E4F;
    font-weight: 500;
}
.greeting{

    color: #5F5F5F;
    padding: 0;
    font-weight: 400;
    margin-top: 0.5%;

}
.question{
    font-weight: 500;
    color: #5F5F5F;
    margin-top: 3.5%;
}
.boxes{
    display: flex;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-right: 2%;
    height: 100px;
    width: 100px;
    text-align: center;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.13);
    color: #FFFFFF;
    border: none;
    background: #0B6E4F;
    border-radius: 12px;
}
.pagination{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.previous{
    background: #FFFFFF;
    border: 2px solid #13AE7E;
    border-radius: 14px;
    color: #13AE7E;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 2%;
    
}
.next{
    background: #13AE7E;
    border-radius: 14px;
    border: none;
    color: #FFFFFF;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 4%;
    padding-right: 4%;
}
@media screen and (max-width: 1000px){
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        margin-right: 2%;
        height: 80px;
        width: 80px;
        text-align: center;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.13);
        color: #FFFFFF;
        border: none;
        background: #0B6E4F;
        border-radius: 12px;
    }
    .boxes{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 500px){
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        margin-right: 2%;
        height: 80px;
        width: 80px;
        text-align: center;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.13);
        color: #FFFFFF;
        border: none;
        background: #0B6E4F;
        border-radius: 12px;
    }
    .boxes{
        display: flex;
       flex-direction: column;
       align-items: center;
    }
}
